html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: block;
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
}

.nav .container {
    display: flex;
    justify-content: center;
}


.nav-item {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: .15rem;
    font-size: 1.4em;
    color: #8c8c8c;
}

.logo {
    position: relative;
}

.logo img {
    width: 5rem;
}

.logo .um {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%), rotateX(180);
    color: red;
}


.nav-item i {
    margin-right: 1rem;
    font-size: 2.5rem;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}

.feito {
    color: #ffd739;
}

.dias-seguidos {
    color: #ed5107;
}

.diamantes {
    color: #3fc5f0;
}

.user img {
    width: 5rem;
    border-radius: 100%;
    border: 2px solid #f35588;
}

.wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}

.a {
    background-color: #fafafa;
    border-radius: 1rem;
    padding: 0 3rem 3rem 3rem;
}

.b {
    background-color: #f7f7f7;
}

.titulo {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    margin-top: 3rem;
}

.titulo h3 {
    font-size: 2.5rem;
}

.btn-audio-sm {
    width: 40px;
    height: 40px;
    background-color: #1fb1f5;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    margin-right: 1.2rem;
    cursor: pointer;
    font-size: 2.5rem;
}

.conteudo-aula {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.conteudo-aula .icone {
    margin-right: 2rem;
}

.conteudo-aula img {
    width: 8rem;
}

.titulo-aula {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.icone .abc {
    border-radius: 100%;
}

.caligrafia {
    width: 8rem;
    height: 8rem;
    position: relative;
    border-radius: 100%;
    background-color: #9be3de;
}

.caligrafia img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.video-img {
    width: 80%;
    margin: 10%;
}

.b h3 {
    font-size: 2.2rem;
    margin-left: 1rem;
}

.box-b-titulo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
}