html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.licao {
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
}

.nav {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.fechar {
    font-size: 2rem;
    margin-top: -5px;
    margin-right: 2rem;
    color: #2d2d2d;
    cursor: pointer;
}

.progresso {
    flex: 1;
    background-color: #e0e0e0;
    height: 15px;
    border-radius: 3rem;
}

.barra {
    background-color: #4dd599;
    height: 15px;
    width: 0;
    border-radius: 3rem;
    transition: width 1s;
}

.atividade {
    max-width: 80rem;
    width: 100%;
    min-height: 45rem;
    margin: 4rem auto;
}

.titulo {
    padding: 3rem 0;
    font-size: 3rem;
    color: #3c3c3c;
    font-weight: 400;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-microfone {
    width: 90px;
    height: 90px;
    font-size: 4rem;
    background-color: #1fb1f5;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s;
}

.btn-microfone:hover {
    box-shadow: 2px 5px 0px #10648a;
    transform: translateY(-5px);
}

.btn-microfone:active, .btn-microfone:focus{
    outline-style: none;
    transform: translateY(0px);
    box-shadow: none;
}

.btn-audio-lg{
    width: 90px;
    height: 90px;
    font-size: 4rem;
    background-color: #1fb1f5;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-audio-lg:hover {
    box-shadow: 2px 5px 0px #10648a;
    transform: translateY(-5px);
}

.btn-audio-lg:active {
    outline-style: none;
    transform: translateY(0px);
    box-shadow: none;
}

button:active, button:focus{
    outline-style: none;
}

.frase {
    flex: 1;
    font-size: 2rem;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 2rem;
}

.btn-audio-sm {
    width: 40px;
    height: 40px;
    background-color: #1fb1f5;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    margin-right: 1.2rem;
    cursor: pointer;
    font-size: 2.5rem;
}

.titulo {
    display: flex;
    align-items: center;
}

.prox-atividade {
    padding-top: 6rem;
    display: flex;
    justify-content: flex-end;
}

.btn-prox {
    font-size: 6rem;
    background-color: #fff;
    border: none;
    cursor: pointer !important;
    z-index: 1000;
    padding: 0 1rem;
    border-radius: 100%;
}

.prox-atividade i {
    color:#4dd599;
}

.resposta {
    flex: 1;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 2rem;
}

.resposta input {
    width: 100%;
    height: 8rem;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 2rem;
    font-size: 3rem;
    padding-left: 2rem;
}

input:active, input:focus {
    outline-style: none;
}

.card {
    border: 2px solid rgb(229, 229, 229);
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

.selecionado {
    background-color: #f7f7f7;
}

.card img {
    width: 15rem;
    height: 15rem;
}

.card-descricao {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #3c3c3c;
}

.opcao {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: 2px solid rgb(229, 229, 229);
    margin-top: -.5rem;
    border-radius: 1rem;
}

.tarefa-finalizada {
    display: flex;
    align-items: center;
}

.tarefa-finalizada-img {
    width: 20rem;
}

.tarefa-finalizada-img img {
    width: 20rem;
}

.btn-retornar {
    margin-top: 1rem;
    font-size: 3rem;
    border: none;
    background-color: #ed8751;
    color: #fff;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.correcao {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    transition: all 1s;
}


.container {
    max-width: 80rem;
    margin: 0 auto;
    min-height: 23vh;
    padding-top: 1rem;
}

.correcao h3 {
    font-size: 2.5rem;
}

.correcao h4 {
    font-size: 2rem;
}